@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&display=swap');

// Colors

$color-dark: #242424;
$color-gray: #555859;
$color-white: #ffffff;
$color-light-green: #F4F9F8;
$color-dark-green: #547A87;
$color-green-dark-gray: #6CB9A4;
$color-green-gray: #86C5B4;
$color-peach: #FF594B;
$color-peach-sure: #FF7468;


// Fonts

$font-poppins: 'Poppins', sans-serif;
$font-playfair: 'Playfair Display', serif;