@import "./variables";

#projects {
  width: 90%;
  margin: auto;
  margin-bottom: 10rem;

  .card-project {
    box-shadow: 0px 16px 40px #9aaacf60;
    background-color: $color-white;

    .card-img-project {
      width: 80%;
      height: 20rem;
      margin: auto;
      padding-top: 3rem;

      img {
        width: 100%;
        height: 100%;
      }

      @media (min-width: 600px) {
        height: 30rem;
      }
    }

    .card-text-project {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      h3 {
        color: $color-dark;
        font-weight: 800;
        font-family: $font-playfair;

        @media (max-width: 599px) {
          font-size: 3rem;
        }
        @media (min-width: 600px) {
          font-size: 5rem;
        }
      }

      h6 {
        margin: 0;
        padding: 0;
        color: $color-peach;
        font-family: $font-poppins;

        @media (max-width: 599px) {
          font-size: 1.5rem;
          margin-top: 2rem;
        }
        @media (min-width: 600px) {
          font-size: 2.2rem;
          font-weight: 600;
          margin-top: 2rem;
        }
        @media (min-width: 1200px) {
          font-size: 2rem;
          font-weight: 500;
          margin-top: 2rem;
        }
      }

      p {
        color: #555859;
        text-align: justify;
        margin-top: 3rem;
        margin-bottom: 4rem;
        font-family: $font-poppins;

        @media (max-width: 599px) {
          font-size: 1.4rem;
        }
        @media (min-width: 600px) {
          font-size: 1.8rem;
          line-height: 1.7;
        }
      }

      @import "./buttonLink.scss";

      .card {
        width: 90%;

        @media(min-width: 1200px) {
          width: 100%;
        }
      }

      @media (max-width: 599px) {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      @media (min-width: 600px) {
        width: 80%;
        margin: auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }

  .card-project:nth-child(1) {
    @media (max-width: 599px) {
      height: 40rem;
    }
    @media (min-width: 600px) {
      height: 50rem;
    }
    @media (min-width: 900px) {
      height: 60rem;
    }
  }

  .card-project:nth-child(2) {
    @media (max-width: 599px) {
      height: 55rem;
    }
    @media (min-width: 600px) {
      height: 75rem;
    }
  }
  .card-project:nth-child(3) {
    @media (max-width: 599px) {
      height: 40rem;
    }
    @media (min-width: 600px) {
      height: 50rem;
    }
    @media (min-width: 900px) {
      height: 60rem;
    }
  }

  @media (max-width: 599px) {
    width: 80%;
    display: grid;
    row-gap: 5rem;
    transform: translateY(-10rem);
    grid-template-columns: 100%;
  }
  @media (min-width: 600px) {
    width: 70%;
    display: grid;
    row-gap: 8rem;
    transform: translateY(-10rem);
    grid-template-columns: 100%;
  }
  @media (min-width: 900px) {
    width: 60%;
    display: grid;
    row-gap: 8rem;
    transform: translateY(-10rem);
    grid-template-columns: 100%;
  }
  @media (min-width: 1200px) {
    width: 90%;
    display: grid;
    column-gap: 5rem;
    transform: translateY(-15rem);
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
  }
  @media (min-width: 1800px) {
    width: 90%;
    display: grid;
    column-gap: 5rem;
    transform: translateY(-15rem);
    grid-template-columns: 25% 25% 25%;
  }
}
